body {
    padding: 0px 200px;
}


#headdiv {
    color: white;
    height: 300px;
    width: 850px;
    background-color: hsl(246, 50%, 55%);
}

.headTxt {
    padding: 50px 100px 0 30px;
    font-family: sans-serif;
}

 .mainContent {
     width: 850px;
     height: 30px;
     background-color: gray;

 }

 .mainNav{
    position: relative;
    left: 50px;
 }

 .listItems{
    margin: 0px;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #333;
}

 .listItems li {
     float: left;
     list-style-type: none;
     padding: 5px;
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
 }
 
 li a:hover {
    background-color: #111;
 }

 .profilePic {
     width: 150px;
     height: 150px;
     background-color: antiquewhite;
     border: 1px solid black;
     float: left;
     position: relative;
     left: 20px;
     top: -20px;
 }
 .box1 {
    
    height: 100px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    position: fixed;
    float:left;
    top: 500px;
    background-color:lightgray;
 }

.box1a { 

height: 200px;
width: 350px;
padding: 10px;
margin: 100px;
border: 1px solid black;
position: fixed;
float:left;
top: 410px;
left: 500px;
background-color:lightgray;
}
}
